.image {
    max-height: 125px;
    padding: 10px;
    margin-bottom: 10px;
}

.imageItem {
    max-height: 250px;
}

.containerMain {
    display: flex;
    justify-content: center
}

.cards {
    width: 100%
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.priceHolder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px
}

.buttonHolder {
    display: flex;
}
